
	<!-- <div class="warn-block" v-show="isWarn">
		<div class="icon material-icon">warning</div>
		<div class="text">还没有教学班, 请手动添加</div>
	</div>
	<div class="lesson-list list" v-show="!isWarn">
		<div class="item" v-for="item in list.l" v-bind:class="{ 'last': $index == list.l.length - 1 }">
			<div class="info" v-on:click="open()">
				<div class="fl">{{item.name}}</div>
				<div class="fl">{{item.no}}</div>
				<div class="fr">{{item.grade}}</div>
				<div class="cf"></div>
			</div>
			<div class="op">
				<div class="icon material-icon">edit</div>
				<div class="icon material-icon">close</div>
			</div>
		</div>
	</div>
	<a class="btn clickable" v-on:click="showCourse()">添加教学班</a> -->
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
	<h1>23333</h1>
